:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --button-text-color: #ffffff;
  --active-color: #2196f3;
  --fill-color: #f5f4fa;
  --fill-footer: #2f303a;
}

/* MAIN PAGE */

.page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 2;

  color: var(--primary-text-color);
  background-color: white;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.list a {
  text-decoration: none;
  color: inherit;
}

.list p {
  margin: 0;
  padding: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);

  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.section-title.hidden {
  display: none;
}

.section.container {
  margin-top: 90px;
  margin-bottom: 90px;
}

/* BUTTON */

.button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.86;

  padding: 10px 32px;
  border: 1px solid var(--active-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;

  background-color: var(--active-color);
  color: var(--button-text-color);
  border-radius: 4px;
  margin-bottom: 200px;
}

/* CONTAINER */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  border: 1px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
}

.container .link:hover,
.container .link:focus {
  color: var(--active-color);
}

/* NAV */

.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:not(:last-child) {
  margin-right: 40;
}
.site-nav .link {
  display: block;
}
.site-nav.list {
  display: flex;
  margin-left: 90px;
}
.nav {
  display: flex;
  align-items: center;
}
.container.nav-address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.svg-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.svg-list .item {
  margin: 0;
  padding: 0;
  border: 0;
}

.svg-list .svg-item {
  padding: 0;
  border: 0;
}

/* .site-nav .item:last-child {
  margin-right: 0;
} */

/* FEATURES */

.container.features {
  margin-bottom: 90px;
}

.container.features {
  margin-bottom: 90px;
}

.list.features {
  display: flex;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features-svg {
  margin-bottom: 30px;
  padding: 0;
  border: none;
  /* padding-top: 25px;
  padding-bottom: 25px; */
  display: block;

  text-align: center;
  background-color: #f5f4fa;
}

.features-svg .svg-item {
  width: 70px;
  height: 70px;
  padding: 25px 100px;
  display: block;
}

.features-title {
  margin-bottom: 10px;
}

.container.features .list {
  display: flex;
}

.container.features .list:not(:last-child) {
  margin-right: 30;
}


/* TEAM */

.team {
  background-color: #f5f4fa;
}

.container.team .list {
  display: flex;
  justify-content: center;
}

.container.team .item {
  text-align: center;
}

.container.team h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.container.team p {
  margin-bottom: 16px;
}

.container.team .item:not(:last-child) {
  margin-right: 30px;
}

.list.item-icons .item:not(:last-child) {
  margin-right: 10;
}

.list.item-icons {
  align-items: center;
}


/* CLIENTS */

.list.clients {
  display: flex;
  align-items: center;
}

.clients .item:not(:last-child) {
  display: block;
  margin-right: 30px;
}

.clients .item {
  padding: 16px 32px;
}


/* FOOTER */

.container.footer {
  padding-top: 60px;
  padding-bottom: 40px;

  display: flex;
  justify-content: flex-start;
}

.address-all {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.address-all .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.address-all .link-address {
  color: var(--fill-color);
  text-decoration: none;
}

.logo.footer {
  margin-bottom: 20px;
}

.address-all .address,
.address-all .mail,
.address-all .tel {
  margin-bottom: 10px;
}

.footer-follow b {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-follow {
  margin-left: 70px;
}

.sing {
  margin-left: auto;
  text-transform: uppercase;
}

.footer p {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}


.list.portfolio {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.63;

  color: var(--title-text-color);
}

h3 {
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.page span {
  color: #2196f3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;

  color: #000000;
  text-decoration: none;
  display: flex;
}

.site-nav .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;

  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;
}

.site-nav.list .current {
  color: var(--active-color);
}

.address .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* .address.list {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
} */

.address.list .item + .item {
  margin-left: 28px;
}

.container.team {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* HERO */

.hero {
  /* background-image: url(../images/hero.jpg); */
  /* height: 600px; */
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 30px;
  padding: 0;
}

.overlay {
  /* max-width: 1600px; */
  height: 600px;

  margin-left: auto;
  margin-right: auto;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url(../images/hero.jpg);
background-color: #F5F4FA;
  background-size: cover;
  background-position: 0px -30px;

}

/* PORTFOLIO PAGE */

.list.portfolio {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.63;

  color: var(--title-text-color);
}


.examples h3 {
  font-size: 18px;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
  text-decoration: none;
  text-transform: none;
  list-style: none;
  padding-left: 0;
}

.examples p {
  font-size: 16px;
}

.footer.all {
  /* max-width: 1600px; */
  background-color: var(--fill-footer);
  margin-left: auto;
  margin-right: auto;
}

b {
  color: #ffffff;
}
.footer .studio {
  color: #ffffff;
}

/* COLORS */
/* 
Text color #757575
Text white #FFFFFF
Title color #212121
Active color #2196F3
BG color #FFFFFF
BG color grey #F5F4FA
Logo black #000000 */
/* Fill section color  #F5F4FA */


/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */