:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --button-text-color: #ffffff;
  --active-color: #2196f3;
  --fill-color: #F5F4FA;
  --fill-footer: #2F303A;
}

/* BUTTON */

.button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.86;

  padding: 10px 32px;
  border: 1px solid var(--active-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;

  background-color: var(--active-color);
  color: var(--button-text-color);
  border-radius: 4px;
  margin-bottom: 200px;

}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  border: 1px solid tomato;
  padding-left: 15px;
  padding-right: 15px;
}


.page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 2;

  color: var(--primary-text-color);
  background-color: white;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.list a {
  text-decoration: none;
  color: inherit;
}

.list p {
  margin: 0;
  padding: 0;
}


.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  color: var(--title-text-color);

  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.section-title.hidden {
    display: none;
  
}

.section.container {
  margin-top: 90px;
  margin-bottom: 90px;
}

.container.features {
  margin-bottom: 90px;
}

.container.features {
  margin-bottom: 90px;
}

.team {
  background-color: #F5F4FA
}



.list.portfolio {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.63;
  
    color: var(--title-text-color); 
}

h3 {
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.page span {
  color: #2196f3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;

  color: #000000;
  text-decoration: none;
}

.site-nav a {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;

  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.site-nav.list .current {
    color: var(--active-color);
}

.address a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.container.team {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* HERO */

.hero {
  background-image: url(../images/hero.jpg);
  height: 600px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;

  color: #FFFFFF;
margin-top: 200px;
margin-bottom: 30px;
padding: 0;
}


/* PORTFOLIO PAGE */

.examples h3 {
  font-size: 18px;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
  text-decoration: none;
  text-transform: none;
  list-style: none;
  padding-left: 0;
}

.examples p {
  font-size: 16px;
}

.footer {
  background-color: var(--fill-footer)
}

b {
  color: #FFFFFF;
}
.footer .studio {
  color: #FFFFFF;
}

.footer p {
  margin: 0;
  padding: 0;
}

/* COLORS */
/* 
Text color #757575
Text white #FFFFFF
Title color #212121
Active color #2196F3
BG color #FFFFFF
BG color grey #F5F4FA
Logo black #000000 */
/* Fill section color  #F5F4FA */
